html
	head
		title Editor

		link(rel="stylesheet", href="css/style.css")
	body

		header
			h1 FE-Editor
			p Based on EcmaScript 6 and transpiler Babel
			p By
				a(href="http://fedojo.com") fedojo.com
			p Easy grid based on
				a(href="http://dev.fedojo.com/multigrid.css/") MutliGrid.css

			.row
				.small-1of2
					p Quick Start:
					ul
						li Insert text into textarea
						li Choose element type
						li Click "Add Element"

				.small-1of2
					p Other Options:
					ul
						li "Add elements" - add random elements (still not working)

			.row
				.small-1of2
					section
						textarea#elementContent(placeholder="Content")
					section
						select#elementsList
					section
						button#addElement.button Add element
				.small-1of2
					section
						button#addElements.button Add elements
						button#loadElements.button Load elements (from var)
					section
						button#getJSON.button Get JSON
						button#getHTML.button Get HTML
					section
						button#clearAll.button Clear HTML




		.debug
			#editorWrapper.row

		footer
			.row.wrapper
				h2 Thanks to
				p My doughter (Amelia) and my wife (Marta) for inspiration and support (I know its hard to support somebody who is working on his laptop when you are sleepping... anyway... Im doing it for you both. You are teh number one).
				p Joshua Davis for colors inspiration
				p Krasimir for his
					a(href="http://krasimirtsonev.com/blog/article/Javascript-template-engine-in-just-20-line", target="_blank")

		#windowOverlay
			#window

		script(src="js/elements.GridElements.js")
		script(src="js/initialhtml.js")

		script(src="js/LocalStorage.js")
		script(src="js/EditorHelpers.js")
		script(src="js/Page.js")
		script(src="js/Element.js")

		script(src="js/MainCtrl.js")
		script(src="js/init.js")
