html
	head
		title Editor

		link(rel="stylesheet", href="css/style.css")
	body.debug

		header
			h1 FE-Editor
			p By
				a(href="http://fedojo.com") fedojo.com
			p Easy grid based on
				a(href="http://dev.fedojo.com/multigrid.css/") MutliGrid.css

			input#elementContent(placeholder="Content")
			select#elementsList
			button#addElement.button Add element
			button#addElements.button Add elements
			button#getJSON.button Get JSON
			button#getHTML.button Get HTML
			button#clearAll.button Clear HTML


		#editorWrapper.row

		footer

		script(src="js/elements.GridElements.js")
		script(src="js/initialhtml.js")

		script(src="js/Page.js")
		script(src="js/Element.js")

		script(src="js/MainCtrl.js")
		script(src="js/init.js")
